doctype html
// ============================= 
// Portfolio Site 
// By: Ariel Gelbard 
// Date: December 9, 2014 
// ============================= 
html  
  head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Ariel Gelbard
  meta(name="description", content="Ariel Gelbard's Portfolio")
  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
  link(rel="shortcut icon" href="/assets/images/favicon.png")  
  link(rel="stylesheet", href="/assets/styles/reset2.css", type="text/css")
  link(rel="stylesheet", href="/assets/styles/main.css", type="text/css")    
  body
  script.
    document.body.style.display="none";
  
  // ============================= 
  // Main Outline 
  // ============================= 
  
  // Header 
  header
    div.wrapper
      div.menu
        img(src="/assets/images/menu.png" alt="Navigation Menu Button")
      div.logo
        a(href='/')
          h1 { Ariel Gelbard }
      nav
        ul
          a(href='/')
            li Home
          a(href='/portfolio')
            li Portfolio
          a(href='/about')
            li About Me
          a(href='/contact')
            li Contact Me
    div.space

  // Main Content 
  div.main.wrapper

  // Footer 
  footer
    div.wrapper
      div.right
        a.gh(href="http://github.com/arielgelbard") Z
        a.ln(href="http://www.linkedin.com/pub/ariel-gelbard/58/155/475") I
        a.tw(href="https://twitter.com/arielgelbard") T
      div.center
        p Copyright Ariel Gelbard 2014
      div.left


  // ============================= 
  // Templates: 

  // ============================= 
  // Home Page Template 
  // ============================= 
  script#home(type="text/template")
    div.intro
      h1 I am a Front End Developer
      div.gicons
        img(src="/assets/images/fast.png" alt="")
        h1 Fast
      div.gicons
        img(src="/assets/images/reliable.png" alt="")
        h1 Reliable            
      div.gicons
        img(src="/assets/images/informed.png" alt="")
        h1 Informed
      h2  I create awesome, functional code that anyone can enjoy interacting with    
  
  // ============================= 
  // Portfolio Page Template 
  // ============================= 
  script#portfolio(type="text/template")
    div.landing
      | {{#each piece}}
      a(href="/portfolioDetail/{{id}}" class="routeLink")
        img(src="/assets/images/pieces/{{profilePic}}" alt="")
        h1 {{title}}
        div.hoverInfo
          h1 {{skills}}
      | {{/each}}

  // ============================= 
  // Portfolio Details Page Template 
  // ============================= 
  script#portfolioLanding(type="text/template")
    div.details
      div.description
        h1 {{title}}
        | {{#if content}}
        | {{#if button1Link}}
        a(href="{{button1Link}}") {{button1Title}}
        | {{/if}}
        | {{#if button2Link}}
        a(href="{{button2Link}}") {{button2Title}}
        | {{/if}}  
        h3 Role: {{role}} 
        p {{content}}
        p {{skills}}
      div.pictures
        | {{#if mobileScreenshot}}
        div(class="mobile")
          img(src="{{mobileScreenshot}}" alt="")
        | {{else}}
        div(class="mobile" style="display:none;")
          img(src="{{mobileScreenshot}}" alt="")
        | {{/if}}
        div(class="desktop")
          img(src="{{desktopScreenshot}}" alt="")
        | {{/if}}   

  // ============================= 
  // About Page Template 
  // ============================= 
  script#about(type="text/template")
    div.about
      div.about_right
        p I am a front end developer in the Toronto area specializing in websites and mobile applications.
        p I provide customized web and mobile solutions using a variety programing languages, frameworks and tools to build effective and unique applications.
        p Some of my hobbies are being outdoors, either relaxing or being adventerous on endevours such as hiking, skating, and snow skiing.
        p Check me out on twitter and linkedin to learn more about me!
      div.about_left
        img(src="assets/images/me.png" alt="Picture of Ariel Gelbard")
        a(href="assets/resume.pdf") View My Resume


  // ============================= 
  // Contact Page Template 
  // ============================= 
  script#contact(type="text/template")
    div(class="contact")
      div(class="left")
        h1 Get in Touch!
        div(class="section")
          p(class="socialico") V
          p (416) 832-6858
        div(class="section")
          p(class="socialico") M
          a(href="mailto:ariel.gelbard@gmail.com") ariel.gelbard@gmail.com
        div(class="section")
          p(class="socialico")
            img(src="/assets/images/location.svg")
          p Toronto, Canada
      div(class="right")
        h1 Contact Me Now!
        form(action="" method="post" id="form")
          input(type="text" id="contactfullname" name="fullname" placeholder="Name")
          input(type="text" id="contactemail" name="email" placeholder="Email" required)
          textarea(placeholder="Message" id="contactmessage" name="message" required)
          button(id="submit") Send
        div(class="alert")

  // ============================= 
  // Libraries 
  // ============================= 
  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")

  // ============================= 
  // Application 
  // ============================= 
  script(type="text/javascript", src="/assets/scripts/main.js")
