doctype html
html

  //- Portfolio Site
  //- By: Ariel Gelbard
  //- Date: December 9, 2014

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Ariel Gelbard

  meta(name="description", content="Hello World")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="stylesheet", href="assets/styles/reset2.css", type="text/css")

  link(rel="stylesheet", href="assets/styles/main.css", type="text/css")


  body

  header
    div.wrapper
      div.menu
        img(src='assets/images/menu.png' alt='Navigation Menu Button')
      div.logo
        h1 Ariel Gelbard
      div.top
        img(src='assets/images/arrow.png' alt='Back to Top of Page')
      nav
        ul
          a(onclick='')
            li Home
          a(onclick='')
            li Portfolio
          a(onclick='')
            li About Me
          a(onclick='')
            li Contact Me
    div.space

  div.main  
  
  footer
    div.wrapper
      div.social_media_footer
        a.gh() Z
          //- onclick='redirectTransition("http://github.com/akzes");') Z
        a.ln() I
          //- onclick='redirectTransition("http://www.linkedin.com/pub/ariel-gelbard/58/155/475");') I
        a.tw() T
          //- onclick='redirectTransition("https://twitter.com/arielgelbard");') T
      div.footer_left
        a(href='')
        p Copyright Ariel Gelbard 2014



  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    <div class="page home">{{{content}}}</div>

  script#portfolio(type="text/template").
    <div class="page portfolio">{{{content}}}</div>

  script#about(type="text/template").
    <div class="page about">{{{content}}}</div>

  script#contact(type="text/template").
    <div class="page contact">{{{content}}}</div>

  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="assets/scripts/main.js")
