/*
Style Sheet: Main Style Sheet & Media Queries LESS/CSS

Portfolio Site
By: Ariel Gelbard
Date: April 14, 2013
*/
/*==========================================================
STYLE DECLERATIONS
*/
@font-face {
  font-family: 'edmondsans';
  src: url('../fonts/edmondsans-bold-webfont.eot');
  src: url('../fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/edmondsans-bold-webfont.woff2') format('woff2'), url('../fonts/edmondsans-bold-webfont.woff') format('woff'), url('../fonts/edmondsans-bold-webfont.ttf') format('truetype'), url('../fonts/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/bitter-regular-webfont.eot');
  src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bitter-regular-webfont.woff2') format('woff2'), url('../fonts/bitter-regular-webfont.woff') format('woff'), url('../fonts/bitter-regular-webfont.ttf') format('truetype'), url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype'), url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Socialico';
  src: url('../fonts/socialico-webfont.eot');
  src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/socialico-webfont.woff') format('woff'), url('../fonts/socialico-webfont.ttf') format('truetype'), url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SocialicoPlus';
  src: url('../fonts/socialico_plus-webfont.eot');
  src: url('../fonts/socialico_plus-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/socialico_plus-webfont.woff') format('woff'), url('../fonts/socialico_plus-webfont.ttf') format('truetype'), url('../fonts/socialico_plus-webfont.svg#socialico_plusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #2f2f2f;
  font-size: 16px;
}
h1 {
  font-size: 1.5rem;
  font-family: "Bitter", "Helvetica", "Arial", serif;
}
h2 {
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: medium;
}
h3 {
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: light;
}
h4 {
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: medium;
}
h5 {
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: medium;
}
h6 {
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: light;
  font-size: 0.875rem;
}
p {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: light;
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
}
a:hover {
  color: #2f2f2f;
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: white;
}
header,
footer {
  background-color: #349dd8;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
header .menu {
  display: none;
}
header .logo {
  width: 39%;
  float: left;
  cursor: pointer;
}
header .logo a h1 {
  padding: 5%;
  font-family: "edmondsans", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
}
header nav {
  width: 60%;
  float: right;
  text-align: right;
}
header nav ul a {
  padding: 4%;
  display: inline-block;
}
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
.main {
  margin-top: 80px;
  clear: both;
  height: auto;
}
footer {
  overflow: auto;
  width: 100%;
  padding: 10px 0;
  clear: both;
}
footer .left,
footer .center,
footer .right {
  display: inline-block;
  width: 33%;
}
footer .center {
  text-align: center;
  vertical-align: top;
  margin-top: 6px;
  float: right;
}
footer .right {
  float: right;
  text-align: right;
}
footer .right a {
  font-size: 1.6rem;
  padding: 5px;
  margin-right: 10px;
  background-color: rgba(40, 40, 40, 0.8);
  font-family: 'Socialico';
}
footer .right a:first-child {
  font-family: 'SocialicoPlus';
}
.intro {
  width: 100%;
  text-align: center;
}
.intro h1 {
  margin-top: 20px;
}
.intro h1:first-child {
  margin-top: 100px;
}
.intro h2 {
  margin-bottom: 20px;
}
.intro .gicons {
  width: 28%;
  margin: 40px 2%;
  display: inline-block;
}
.intro .gicons img {
  width: 100%;
}
.landing {
  width: 100%;
}
.landing a {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 10px 1% 15px 2%;
}
.landing a h1 {
  margin-top: 10px;
}
.landing a h1,
.landing a .hoverInfo {
  text-align: center;
}
.landing a .hoverInfo {
  border-radius: 8px;
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  top: 0;
  opacity: 0;
  height: 85%;
  width: 100%;
  position: absolute;
}
.landing a .hoverInfo h1 {
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  line-height: 30px;
}
.landing a:hover .hoverInfo {
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  opacity: 1;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.8);
}
.landing a:hover .hoverInfo h1 {
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  padding-top: 25%;
}
/*==========================================================
PORTFOLIO PIECE DETAILS PAGE
*/
.details {
  width: 100%;
}
.details .description {
  width: 45%;
  float: left;
}
.details .description h1 {
  margin-bottom: 40px;
  margin-left: 3%;
}
.details .description h3 {
  margin-top: 60px;
  margin-left: 3%;
}
.details .description p {
  margin-top: 30px;
  margin-left: 3%;
}
.details .description a {
  background-color: rgba(40, 40, 40, 0.8);
  width: 40%;
  padding: 5px 15%;
  margin-left: 2%;
}
.details .pictures {
  width: 50%;
  float: right;
  position: relative;
}
.details .pictures .desktop {
  width: 100%;
  height: 561px;
  display: block;
  background-image: url('../images/desktop.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}
.details .pictures .desktop img {
  margin-left: 3.4%;
  margin-top: 4%;
  width: 93%;
}
.details .pictures .mobile {
  position: absolute;
  width: 20%;
  height: 200px;
  margin-top: 45%;
  margin-left: 77%;
  display: block;
  background-image: url('../images/mobile.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
.details .pictures .mobile img {
  margin-left: 5.8%;
  margin-top: 24%;
  width: 88.4%;
}
.about {
  width: 100%;
}
.about .about_left {
  width: 30%;
  margin-left: 4%;
  float: left;
}
.about .about_left a {
  display: block;
  width: 50%;
  padding: 10px 5%;
  background-color: rgba(40, 40, 40, 0.8);
  text-align: center;
  margin: 15px 0 15px 17.5%;
}
.about .about_right {
  width: 60%;
  margin-right: 4%;
  float: right;
}
.about .about_right p {
  margin: 0 0 20px 5%;
  line-height: 20px;
}
.about .about_right p:first-child {
  margin-top: 50px;
}
.contact {
  overflow: auto;
  margin-bottom: 30px;
}
.contact .socialico {
  font-family: 'SocialicoPlus';
  font-size: 4rem;
}
.contact h1 {
  margin: 30px 0;
  margin-left: 25%;
}
.contact .left {
  float: left;
  width: 49%;
}
.contact .left .section {
  width: 100%;
  margin-left: 25%;
}
.contact .left .section img {
  width: 40px;
}
.contact p,
.contact a {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 10px;
  vertical-align: middle;
}
.contact .right {
  float: right;
  width: 49%;
}
.contact .right input,
.contact .right textarea,
.contact .right button {
  margin: 0 0 20px 17%;
  height: 30px;
  text-indent: 10px;
  width: 60%;
  display: block;
  border: none;
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: light;
  color: #a8a8a8;
  background-color: rgba(40, 40, 40, 0.8);
}
.contact .right textarea {
  height: 150px;
}
.contact .right .alert {
  margin-bottom: 10px;
}
.contact .right .alert p {
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: medium;
}
@media (max-width: 750px) {
  header .menu {
    display: inherit;
    float: left;
    width: 30%;
    padding: 8px 5%;
  }
  header .menu img {
    width: 35px;
  }
  header .logo {
    width: 60%;
    float: right;
    padding: 10px 0 0 0;
  }
  header .logo a h1 {
    text-align: left;
    font-size: 1.5rem;
    padding: 2% 0;
  }
  header nav {
    width: 100%;
    float: left;
  }
  header nav ul a {
    text-align: left;
    text-indent: 10px;
    display: block;
  }
  footer {
    overflow: auto;
  }
  footer .right {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    float: left;
  }
  footer .right a {
    font-size: 2rem;
    padding: 13px 15px;
  }
  footer .left,
  footer .center {
    float: right;
    display: block;
    width: 100%;
  }
  .intro .gicons {
    display: block;
    margin-left: 30%;
    width: 40%;
  }
  .intro h2 {
    padding: 0 5px;
  }
  .landing a {
    width: 43%;
    margin-left: 4%;
  }
  .landing a h1 {
    font-size: 1.2rem;
  }
  .landing a .hoverInfo {
    position: static;
    opacity: 1;
    font-size: .3em;
  }
  .landing a .hoverInfo h1 {
    font-size: 1.063rem;
    font-family: "Roboto", "Helvetica", "Arial", serif;
    font-weight: medium;
    margin-top: 5px;
    font-size: .8rem;
  }
  .landing a:hover .hoverInfo {
    background-color: #2f2f2f;
  }
  .landing a:hover .hoverInfo h1 {
    padding-top: 0;
  }
  .details .description {
    width: 100%;
  }
  .details .description h1 {
    text-align: center;
    margin-bottom: 28px;
    margin-left: 3%;
  }
  .details .description h3 {
    padding-top: 80px;
    margin-left: 3%;
  }
  .details .description p {
    margin-top: 30px;
    margin-left: 3%;
  }
  .details .description a {
    padding: 5px 0%;
    margin-left: 7%;
    float: left;
    text-align: center;
  }
  .details .pictures {
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-top: 40px;
    position: relative;
  }
  .about .about_left a {
    width: 90%;
    padding: 10px 5%;
    margin-left: 0;
    line-height: 20px;
  }
  .about .about_right p {
    margin: 0 0 20px 5%;
  }
  .about .about_right p:first-child {
    margin-top: 20px;
  }
  .contact h1 {
    margin-left: 5%;
  }
  .contact .left {
    float: none;
    width: 90%;
  }
  .contact .left .section {
    margin-left: 5%;
  }
  .contact .right {
    float: none;
    width: 90%;
    margin-top: 50px;
  }
  .contact .right input,
  .contact .right textarea,
  .contact .right button {
    margin: 0 0 20px 10%;
    width: 80%;
  }
  .details .pictures .desktop {
    height: 450px;
  }
}
@media (max-width: 500px) {
  header .menu {
    width: 20%;
  }
  header .logo {
    padding-top: 10px;
    float: left;
  }
  .landing a {
    width: 90%;
  }
  .details .pictures .desktop {
    height: 300px;
  }
  .about .about_left {
    width: 90%;
    margin-left: 5%;
    float: left;
  }
  .about .about_right {
    width: 90%;
    margin-left: 5%;
    float: left;
    display: block;
  }
  .contact .left .section a,
  .contact .left .section p {
    font-size: 1rem;
  }
  .contact .left .section .socialico {
    font-size: 4rem;
  }
}
