/*
Style Sheet: Main Style Sheet & Media Queries LESS/CSS

Portfolio Site
By: Ariel Gelbard
Date: April 14, 2013
*/


/*==========================================================
STYLE DECLERATIONS
*/
@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/edmondsans-bold-webfont.eot');
    src: url('../fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/edmondsans-bold-webfont.woff') format('woff'),
         url('../fonts/edmondsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter-regular-webfont.eot');
    src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-regular-webfont.woff2') format('woff2'),
         url('../fonts/bitter-regular-webfont.woff') format('woff'),
         url('../fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: medium;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: light;
    font-style: normal;

}

@font-face {
    font-family: 'Socialico';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SocialicoPlus';
    src: url('../fonts/socialico_plus-webfont.eot');
    src: url('../fonts/socialico_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico_plus-webfont.woff') format('woff'),
         url('../fonts/socialico_plus-webfont.ttf') format('truetype'),
         url('../fonts/socialico_plus-webfont.svg#socialico_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@grey:#2f2f2f;
@greyL:rgba(40,40,40,0.8);
@blue:#349DD8;

.smoothTrans(@sec){
  transition: @sec all ease-in-out;
  -webkit-transition: @sec all ease-in-out;
  -moz-transition: @sec all ease-in-out;
}

body{
  background-color: @grey;
  font-size: 16px;
}

.logo(){
  font-family: "edmondsans", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
}

.heading(){
  font-size: 1.5rem;
  font-family: "Bitter", "Helvetica", "Arial", serif;
}
.subheading(){
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: medium;
}
.subheading2(){
  font-size: 1.063rem;
  font-family: "Roboto", "Helvetica", "Arial", serif;
  font-weight: light;
}
.body(){
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}



h1{
  .heading();
}

h2{
  .subheading();
}

h3{
  .subheading2();
}

h4{
.subheading();
}

h5{
.subheading();
}

h6{
  .subheading2();
  font-size: 0.875rem;
}
p{
  .body();
}
a{
  text-decoration: none;
  .subheading2();
  .smoothTrans(.8s);
  &:hover{
    color: @grey;
    .smoothTrans(.8s);
  }
}

img{
  width: 100%;
}

h1,h2,h3,h4,h5,h6,p,a{
  color: white;
}

header,footer{
  background-color: @blue;
}



// .current_page{
//   color: #5a5959;
// }

// /*==========================================================
// HEADER AREA

header{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  
  .menu{
    display: none;
  }
  
  .logo{
    width: 39%;
    float: left;
    cursor: pointer;
    a{
      h1{
        padding: 5%;
        .logo();
      }
    }
  }

  nav{
    width: 60%;
    float: right;
    text-align: right;
    ul{
      a{
        padding: 4%;
        display: inline-block;
      }
    }
  }
}

// ==========================================================
// MAIN AREA

.wrapper{
  max-width: 1020px;
  margin: 0 auto;
}

.main{
  margin-top: 80px;
  clear: both;
  height: auto;
}

// ==========================================================
// FOOTER AREA

footer{
  overflow: auto;
  width: 100%;
  padding: 10px 0;
  clear: both; //for about page

  .left,.center,.right{
    display: inline-block;
    width: 33%;
    
  }

  .center{
    text-align: center;
    vertical-align: top;
    margin-top: 6px;
    float: right;
  }

  .right{
    float: right;
    text-align: right;  
    a{
      font-size: 1.6rem;
      padding: 5px;
      margin-right: 10px;
      background-color: @greyL;
      &:first-child{
        font-family: 'SocialicoPlus';
      }
      font-family: 'Socialico';    
    }
  }
}


// ==========================================================
// HOME

.intro{
  width: 100%;
  text-align: center;
  h1{
    margin-top: 20px;
    &:first-child{
      margin-top: 100px;
    }
  }
  h2{
    margin-bottom: 20px;
  }
  .gicons{
    width: 28%;
    margin: 40px 2%;
    display: inline-block;
    img{
      width: 100%;
    }
  }
}

// ==========================================================
// PORTFOLIO LANDING

.landing{
  width: 100%;
  a{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 10px 1% 15px 2%;
    h1{
      margin-top: 10px;
    }
    h1,.hoverInfo{
      text-align: center;

    }
    .hoverInfo{
      border-radius: 8px;
      .smoothTrans(.8s);
      top:0;
      opacity:0;
      height:85%;
      width: 100%;
      position: absolute;
      h1{
        .smoothTrans(.8s);
        line-height: 30px;
      }
    }
    &:hover{
      .hoverInfo{
        .smoothTrans(.8s);
        opacity:1;
        text-align: center;
        background-color:@greyL;
        h1{
          .smoothTrans(.8s);
          padding-top: 25%;
        }
      }
    }
  }
}

/*==========================================================
PORTFOLIO PIECE DETAILS PAGE
*/

.details{
  width: 100%;
  .description{
    width: 45%;
    float: left;
    h1{
      margin-bottom: 40px;
      margin-left: 3%;
    }
    h3{
      margin-top: 60px;
      margin-left: 3%;
    }
    p{
      margin-top: 30px;
      margin-left: 3%;
    }
    a{
      background-color: @greyL;
      width: 40%;
      padding: 5px 15%;
      margin-left: 2%;
    }
  }
  .pictures{
    width: 50%;
    float: right;
    position: relative;
    .desktop{
      width: 100%;
      height: 561px;
      display: block;
      background-image: url('../images/desktop.png');
      background-size:100%;
      background-repeat: no-repeat;
      img{
        margin-left: 3.4%;
        margin-top: 4%;
        width: 93%;
      }
      z-index: 0;
    }
    .mobile{    
      position: absolute;
      width: 20%;
      height: 200px;
      margin-top: 45%;
      margin-left: 77%;
      display: block;
      background-image: url('../images/mobile.png');
      background-size:100%;
      background-repeat: no-repeat;
      img{
        margin-left: 5.8%;
        margin-top: 24%;        
        width: 88.4%;
      }
      z-index: 1;
    }
  }
}

// ==========================================================
// ABOUT PAGE

.about{
  width: 100%;
  .about_left{
    width: 30%;
    margin-left: 4%;
    float: left;
    a{
      display: block;
      width: 50%;
      padding: 10px 5%;
      background-color:@greyL;
      text-align: center;
      margin: 15px 0 15px 17.5%;
    }
  }
  .about_right{
    width:60%;
    margin-right: 4%;
    float: right;
    p{
      margin: 0 0 20px 5%;
      &:first-child{
        margin-top: 50px;
      }
      line-height: 20px;
    }
  }
}


// ==========================================================
// CONTACT ME PAGE
.contact{
  overflow: auto;
  margin-bottom: 30px;
  .socialico{
    font-family: 'SocialicoPlus';
    font-size: 4rem;
  }
  h1{
    margin: 30px 0;
    margin-left: 25%;
  }

  .left{
    float: left;
    width: 49%;
    .section{
      width: 100%;
      margin-left: 25%;
      img{
        width: 40px;
      }
    }
  }

  p,a{
    display: inline-block; 
    font-size: 1.5rem;
    margin-left: 10px;
    vertical-align: middle;
  }

  .right{
    float: right;
    width: 49%;
    input,textarea,button{
      margin: 0 0 20px 17%;
      height: 30px;
      text-indent: 10px;
      width: 60%;
      display: block;
      border: none;
      .subheading2();
      color: #a8a8a8;
      background-color: @greyL;
    }
    textarea{
      height: 150px;
    }
    .alert{
      margin-bottom: 10px;
      p{
        .subheading();
      }
    }
  }
}

@media (max-width: 750px) {
  header{
    .menu{
      display: inherit;
      float: left;
      width: 30%;
      padding: 8px 5%;
      img{
        width: 35px;
      }
    }
    .logo{
      width: 60%;
      float: right;
      padding: 10px 0 0 0;
      a{
        h1{
          text-align: left;
          font-size: 1.5rem;
          padding: 2% 0;
        }
      }
    }
    nav{
      width: 100%;
      float: left;
      ul{
        a{
          text-align: left;
          text-indent: 10px;
          display: block;
        }
      }
    }    
  }

  footer{
    overflow: auto;
    .right{
      width: 100%;
      text-align: center;
      margin: 15px 0;
      a{
      font-size: 2rem;
      padding: 13px 15px;
      }
      float: left;
    }
    .left,.center{
      float: right;
      display: block;
      width: 100%;
    }
  }

  .intro{
    .gicons{
      display: block;
      margin-left: 30%;
      width: 40%;
    }
    h2{
      padding: 0 5px;
    }
  }

  .landing{
    a{
      width: 43%;
      margin-left: 4%;
      h1{
        font-size: 1.2rem;
      }
      .hoverInfo{
        position: static;
        opacity: 1;
        font-size: .3em;
        h1{
          .subheading();
          margin-top: 5px;
          font-size: .8rem;
        }
      }
      &:hover{
        .hoverInfo{
          background-color:@grey;
          h1{
           padding-top: 0;
          }
        }
      }
    }
  }


  .details{
    .description{
      width: 100%;
      h1{
        text-align: center;
        margin-bottom: 28px;
        margin-left: 3%;
      }
      h3{
        padding-top: 80px;
        margin-left: 3%;
      }
      p{
        margin-top: 30px;
        margin-left: 3%;
      }
      a{
        padding: 5px 0%;
        margin-left: 7%;
        float: left;
        text-align: center;
      }
    }
    .pictures{
      width: 70%;
      float: left;
      margin-left: 15%;
      margin-top: 40px;
      position: relative;
    }
  }  

  .about{
    .about_left{
      a{
        width: 90%;
        padding: 10px 5%;
        margin-left: 0;
        line-height: 20px;
      }
    }
    .about_right{
      p{
        margin: 0 0 20px 5%;
        &:first-child{
          margin-top: 20px;
        }
      }
    }
  }

  .contact{
      h1{
        margin-left: 5%;
      }
    .left{
      float: none;
      width: 90%;
      .section{
        margin-left: 5%;
      }
    }

    .right{
      float: none;
      width: 90%;
      margin-top: 50px;
      input,textarea,button{
        margin: 0 0 20px 10%;
        width: 80%;
      }
    }
  }

  .details{
    .pictures{
      .desktop{
        height: 450px;
      }
    }
  }
}

@media (max-width: 500px) {
  header{
    .menu{
      width: 20%;
    }
    .logo{
      padding-top: 10px;
      float: left;
    }
  }
  .landing{
    a{
      width: 90%;
    }
  }
  .details{
    .pictures{
      .desktop{
        height: 300px;
      }
    }
  }

  .about{
    .about_left{
      width: 90%;
      margin-left: 5%;
      float: left;
    }
    .about_right{
      width: 90%;
      margin-left: 5%;
      float: left;
      display: block;
    }
  }

  .contact{
    .left{
      .section{
        a,p{
          font-size: 1rem;
        }
        .socialico{
          font-size: 4rem;
        }
      }
    }
  }

}

//450PX!


// /*==========================================================
// OTHER STYLE DECLERATIONS
// */
// a{

// }

// .button(){
//   background-color: @darkOrange;
//   padding: 5px 35px;
//   border-radius: 10px;
// }

// .formStyle(){
//     color: @color;
//     font-size: 30px;
//     // font-family: 'fibel_nordF';
//     padding-left: 10px;
//     letter-spacing: 1.5px;
// }



// .placeHolderFormStyle(@color: white) {
//   input::-webkit-input-placeholder { 
//     .formStyle();
//   }
//   input:-moz-placeholder { 
//     .formStyle();
//   }
//   textarea::-webkit-input-placeholder { 
//     .formStyle();
//   }
//   textarea:-moz-placeholder { 
//     .formStyle();
//   }
// }

// .smoothTrans(@sec){
//   transition: @sec all ease-in-out;
//   -webkit-transition: @sec all ease-in-out;
//   -moz-transition: @sec all ease-in-out;
// }

// .space{ //gives header and content space inbetween
//   width: 100%;
//   margin-bottom: 100px;
//   background-color: red;
// }




// /*==========================================================
// HEADER AREA
// */
// header{
//   z-index: 10;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   margin-bottom: 400px;
//   background-color: #eca15e;
//   // overflow: auto;
//   height: 80px;
//   .logo{
//     padding:10px 0;
//     float: left;
//     width: 20%;
//     cursor: pointer;
//     a{
//       h1{
//         font-family: 'alley_catF';
//         font-size: 1.2em;
//         margin-left: 30px;
//       }
//     }
//   }
//   .menu,.top{
//     display: none;
//   }
//   nav{  
//     position: static !important;
//     overflow: hidden;
//     padding: 5px 0;
//     float: right;
//     width: 75%;
//     text-align: right;
//     margin-right: 2%;
//     ul{
//       width: 100%;
//       overflow: hidden;
//       a{
//         overflow: hidden;
//         display: inline-block;
//         padding: 20px 4%;
//         &:last-child{
//           padding: 20px 0 0 4%;
//         }
//       }
//     }
//   }
// }






















// /*==========================================================
// CONTACT ME PAGE
// */
// .contact{
//   overflow: auto;
//   margin: 0 0 30px 0;
//     h1{
//       margin: 30px 0;
//     }
//   .cLeft{
//     h1{
//       margin: 60px 0 30px 0;
//     }
//     width: 50%;
//     margin-left: 3%;
//     float: left;
//     .cSocial{
//       margin-bottom: 30px;
//       .socialico{
//         line-height: .6;
//         width: 10%;
//         font-size: 100px;
//         font-family: 'socialico_plusF';
//         vertical-align: middle;
//         padding-right: 30px;
//       }
//       p,a,img{
//         display: inline-block;
//         font-family: 'bitterF';
//         font-size: 1.5em;
//       }
//       p{
//         img{
//           margin-left: 5px;
//           width: 60px;
//         }
//       }
//     }
//   }
//   .contactForm{
//     background-color: gray;
//     float: right;
//     width: 35%;
//     margin: 30px 30px 0 0;
//     padding: 0 0 20px 30px;
//     border-radius: 10px;
//     input,textarea{
//       display: block;
//       border: none;
//       background-color: #b2b2b2;
//       color: white;
//       width: 90%;
//       font-size: 30px;
//       margin-bottom: 25px;
//       border-radius: 10px;
//     }
//     textarea{
//       height:250px;
//     }
//     p{
//       margin-top: 15px;
//       margin-left: 0;
//     }
//     button{
//       border: none;
//       color: white;
//       // font-family: 'fibel_nordF';
//       font-size: 1.8em;
//       .button();
//       width: 50%;
//       padding: 5px 20px;
//       margin-left: 40%;
//       margin-bottom: 20px;
//     }
//     .placeHolderFormStyle();
//   }
// }





// /*==========================================================
//   ==========================================================
//   ==========================================================
// 750PX MEDIA QUERY
// */



//   /*==========================================================
//   HEADER
//   */
//   header{
//     .menu,.top,.logo{
//       padding-top: 18px;
//       display: block;
//       width:23%;
//       float: left;
//     }
//     .menu{
//       margin-left: 3%;
//     }
//     .logo{
//       margin: 0;
//       margin-left: 12%;
//       h1{
//         padding: 0;
//         margin: 0;
//       }
//     }
//     .top{
//       float: right;
//       width: 12%;
//       margin-right: 10px;
//     }
//     nav{  
//       position: absolute;
//       background-color: @orange;
//       top:83px;
//       float: left;
//       width: 100%;
//       text-align: left;
//       z-index: 999;
//       ul{
//         a{
//           display: block;
//           padding: 15px 30px;
//           &:last-child{
//             padding: 15px 30px;
//           }
//         }
//       }
//     }
//   }



//   /*==========================================================
//   FOOTER
//   */
//   footer{
//     .social_media_footer{
//       width: 100%;
//       a{
//         float: left;
//         margin-top: 25px;
//         width: 25%;
//         margin-left:6%;
//         margin-right: 0;
//         font-size: 4em;
//         padding: 3% 0% 0 0;
//         text-align: center;
//       }
//       margin-bottom: 30px;
//     }
//     .footer_left{
//       width: 100%;
//       a,p{
//         display: block;
//         text-align: center;
//         width: 100%;
//         margin: 0;
//       }
//       a{
//         margin-bottom: 30px;
//       }
//       p{
//         margin-bottom: 10px;
//       }
//     }
//   }



//   /*==========================================================
//   HOME PAGE
//   */
//   .intro{
//     .gicons{
//       h1{
//         font-size: 1em;
//         margin-top: 20px;
//       }
//     }   
//   }



//   /*==========================================================
//   PORTFOLIO LANDING PAGE
//   */




//   /*==========================================================
//   PORTFOLIO PIECE DETAILS PAGE
//   */
//   .details{
//     .description{
//       overflow: auto;
//       width: 100%;
//       float: left;
//       h1{
//         text-align: center;
//         margin-bottom: 28px;
//         margin-left: 3%;
//       }
//       h3{
//         padding-top: 80px;
//         margin-left: 3%;
//       }
//       p{
//         margin-top: 30px;
//         margin-left: 3%;
//       }
//       a{
//         padding: 5px 0%;
//         margin-left: 7%;
//         float: left;
//         text-align: center;
//       }
//     }
//     .pictures{
//       width: 70%;
//       float: left;
//       margin-left: 15%;
//       margin-top: 40px;
//       position: relative;
//     }
//   }



//   /*==========================================================
//   ABOUT ME
//   */
//   .about{
//     margin-top: 0px;
//     .about_left{
//       width: 100%;
//       margin-right: 0;
//       margin-bottom: 50px;
//       float: none;
//       img{
//         margin-top: 30px;
//         margin-left: 15%;
//         width: 70%;
//       }
//       a{
//         display: block;
//         padding: 15px;
//         margin-left: 27%;
//         text-align: center;
//         width: 40%;
//       }
      
//     }
//     .about_right{
//       width:90%;
//       margin-right: 0;
//       float: none;
//       overflow: auto;
//       margin-left: 5%;
//       p{
//         margin-bottom: 40px;
//       }
//     }
//   }



//   /*==========================================================
//   CONTACT ME PAGE
//   */
//   .contact{
//     .cLeft{
//       float: none;
//       width: 90%;
//       margin: 0;
//       padding: 0;
//       margin-left: 5%;
//       font-size: 1em;
//     }
//     .contactForm{
//       float: none;
//       width: 100%;
//       margin: 0;
//       padding: 0;
//       margin-top: 20px;
//       overflow: auto;
//       h1{
//         margin-left: 20px;
//       }
//       input,textarea{
//         margin-left: 5%;
//       }
//     }
//   }
// }



// /*==========================================================
//   ==========================================================
//   ==========================================================
// 320PX MEDIA QUERY
// */
// @media (max-width: 320px) {



//   /*==========================================================
//   HEADER
//   */
//   header{
//     .logo{
//       margin-left: 7%;
//     }
//   }



//   /*==========================================================
//   PORTFOLIO PIECE DETAILS PAGE
//   */
//   .details{
//     .pictures{
//       .desktop{
//         height: 360px;
//       }
//     }
//   }



//   /*==========================================================
//   ABOUT ME
//   */
//   .about{
//     .about_left{
//       a{
//         width: 70%;
//         margin-left: 7.5%;
//       }
//     }
//   }
// }

